spring:
  application:
    name: insurance

  datasource:
    url: jdbc:postgresql://localhost:5432/insurance_db
    username: insurance_user
    password: insurance_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

jwt:
  secret: cmvl2fOCUUzdrHUhaEsxZXmcwvewzQTH6JfCV45J9Riiwoejojwdwdjowjldnij
  expiration-ms: 86400000